.main {
	width: 100%;
	
	min-width: 1000px;
}

.head {
	height: 704px;
	width: 100%;
	background: url(../images/head.jpg) no-repeat center center;
	
}

.center {
	width: 1000px;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

.part1 {
	height: 1173px;
	width: 100%;
	background: url(../images/part1.jpg) no-repeat center center;
}
.part2 {
	height: 1217px;
	width: 100%;
	background: url(../images/part2.jpg) no-repeat center center;
}
.part3 {
	height: 872px;
	width: 100%;
	background: url(../images/part3.jpg) no-repeat center center;
}

.time {
	color: #e3d968;
	font-size: 17.6px;
	position: absolute;
	top: 364px;
	left: 95px;
}

.part1>.center>a {
	width: 136px;
	height: 47px;
	position: absolute;
	right: 78px;
}

.a1 {
	top: 229px;
}

.a2 {
	top: 349px;
}

.a3 {
	top: 469px;
}

.a4 {
	top: 589px;
}

.a5 {
	top: 709px;
}

.a6 {
	top: 829px;
}

.rule {
	color: #a3a3a3;
	font-size: 15.79px;
	position: absolute;
	left: 66px;
	letter-spacing: 1px;
	bottom: 50px;
}

.rule li {
	padding-bottom: 5px;
}

.rule span {
	display: block;
	float: left;
}

.rule p {
	display: block;
	float: left;
}

.rule a {
	color: #e08d00;
	font-size: 15.79px;
	text-decoration: underline;
}

.jf {
	color: #c20000;
	font-size: 15.79px;
	position: absolute;
	top: 170px;
	left: 402px;
}

.part2>.center>a {
	width: 237px;
	height: 44px;
	position: absolute;
}

.b1 {
	left: 65px;
	top: 536px;
}
.b2 {
	left: 352px;
	top: 536px;
}
.b3 {
	left: 638px;
	top: 536px;
}

.b4 {
	left: 65px;
	top: 948px;
}

.b5 {
	left: 352px;
	top: 948px;
}

.b6 {
	left: 638px;
	top: 948px;
}

.part3>.center>a {
	display: block;
	width: 136px;
	height: 47px;
	position: absolute;
	right: 56px;
}

.c1 {
	top: 195px;
}
.c2 {
	top: 315px;
}
.c3 {
	top: 435px;
}
.c4 {
	top: 555px;
}

